@use "variables";

body {
  font-family: variables.$font-stack;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  //background-color: $background-color;
}