.that-shitty-text-in-bottom {
  margin-top: 5px;

  a {
    color: black; // Blue text to match the header

    &:hover {
      color: #0056b3; // Darken the color on hover
      text-decoration: underline;
    }
  }
}